inst/doc
.Rhistory
.RData
.Rproj.user
todos.Rmd
test.R
sim_rel_prec*.csv
reste.R
reproduce_schönbrodt.csv
plot_n.pdf
plot_n.RData
Order #659806 - paper_fastpos_CLEAN_REVISED (1).odt
Order #659806 - paper_fastpos_CLEAN_REVISED_jt.odt
Order #659806 - paper_fastpos_CLEAN_REVISED.odt
Order #659806 - paper_fastpos_TRACKED_REVISED.odt
.~lock.Order #659806 - paper_fastpos_CLEAN_REVISED_jt.odt#
.~lock.Order #659806 - paper_fastpos_TRACKED_REVISED.odt#
README_cache
corEvol
paper_fastpos.odt
readme_text.md